<div id="<%= dom_id message %>" class="chat__message">
  <div class="chat__meta">
    <span class="chat__user">
      <%= message.user.hide_name == false || message.user.hide_name == nil ? @redact_emojis.sample : message.user.name %>
    </span>
    <time class="chat__time"><%= message.created_at.strftime("%H:%M") %></time>
  </div>
  <div class="chat__content">
    <%= message.content %>
  </div>
</div>
