<div id="<%= dom_id message %>" class="chat__message">
  <div class="chat__meta">
    <span class="chat__user">
      <%= (@current_user && @current_user.name == "Jan") || message.user.hide_name == true ? "#{message.user.emoji} #{message.user.name}" : message.user.emoji  %>
    </span>
    <time class="chat__time"><%= message.created_at.strftime("%H:%M") %></time>
  </div>
  <div class="chat__content">
    <%= message.content %>
  </div>
</div>
