<%= turbo_frame_tag "new_message", target: "_top" do %>
  <%= form_with(model: @message, data: { controller: :form, action: "turbo:submit-end->form#clear" }) do |form| %>
    <div class="form-input form-input--salmon">
      <%= form.text_field :content, placeholder: "Write in the Guest Book", required: true, minlength: 1, maxlength: 120, size: 10 %>
      <%= form.submit "Send", class: "button button--input button--salmon" %>
    </div>
  <% end %>
<% end %>
