<p style="color: green"><%= notice %></p>

<h1>HALLO <%= @user.name.upcase %></h1>
<p>This is your very own private page. No one else can see this.</p>
<p>Here you can update your status, add a partner you want to bring, hide your name, and write into the guest book.</p>

<div>

  <%= render "form", user: @user %>

</div>
