<main class="index index--show">
  <header class="header header--show"><span>HALLO <%= @user.name.upcase %>!</span></header>
  <div class="content">
    <h2 class="large">Your Page</h2>
    <p>This is your very own private page. No one else can see this.</p>
    <p>Don't share this link with anyone else. Otherwise, they can impersonate you and write funky stuff in your name.</p>
    <p>Here you can update your status, add a partner you want to bring, make your name visible to others, and write into the guest book.</p>
  </div>
  <aside class="aside">
    <h2 class="large">Update Your Info</h2>
    <%= render "form", user: @user %>
    <p style="color: green"><%= notice %></p>
  </aside>
  <footer class="footer">
    <h2 class="large"><a href="/">See who's coming and where the party is</a></h2>
  </footer>
</main>

