<main class="main main--start">
  <h1 class="title title--full"><span>29</span></h1>
  <button onclick="document.location.href='/index'" class="button button--enter"><span>ICH WILL SPASS!</span></button>
</main>
